header {
  background-image: url("/Users/sabrinothman/Desktop/Portfolio-challange/Portfolio/Student-Portfolio/src/assets/IMG_6545.jpeg"); /* Replace with your image URL */
  background-size: flex;
  color:black;
  padding: 2rem;
  text-align: center;
  background-color: #333;
  background-size: cover;
  background-position: center;

}

header h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  
}

header nav {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

header a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

header a:hover {
  text-decoration: underline;
}